.card {
  padding: 2.6rem 3rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: -6px -3px 112px -8px rgba(33, 39, 37, 0.6);
  -webkit-box-shadow: -6px -3px 112px -8px rgba(33, 39, 37, 0.6);
  -moz-box-shadow: -6px -3px 112px -8px rgba(33, 39, 37, 0.6);
}

.card .title {
  font-size: 4rem;
  font-weight: 700;
}

.card .subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}
