.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.Navbar ul {
  width: 26%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.buttonDarkMode {
  background: none;
  border: none;
  cursor: pointer;
}

.darkMode {
  color: white;
  background: #a6d6;
}

.lightMode {
  color: black;
  background: white;
}

.NavLink {
  font-size: 1.4rem;
}
.NavLink:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .Navbar ul {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .Navbar ul {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .Navbar ul {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .Navbar ul {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .Navbar ul {
    width: 96%;
  }
}
